/* Styling on event details */

.event-details .back{
    background:inherit;
    border: none;
    text-align:start;
    width: 95px;
gap: 4px;
font-family: Montserrat;
font-size: 16px;
color:#081C3B;
}


.event-details .event-image img {
    width: 100%;
    height: 420px;
    border-radius: 8px ;
    margin:10px 0;
  }

.event-details button:hover{
    /* zoom in */
    transform: scale(1.1);
    cursor: pointer;
}

.event-details .event-text h3 {
    font-size: 40px;
    margin:20px 0;
  }

.event-details{
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 50px 132px;
    background:white;
        gap: 10px;
    }

.container .contact {
    display:none;
}
  