.students table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 24px;
    font-family: Montserrat;
    color: #081c3b;
    text-align: left;
  }
  .students th , .studentstd{
    padding: 10px;
  }
  .students td{
    border-top: 1px solid #CED2D8;
  }

  .students{
    border: 1px solid #CED2D8;
    padding:0px 10px;
    border-radius: 5px;
    margin:50px 132px;
  }