
/* Notice Board */
*{
  font-family: Montserrat;
}
.notice .date {
    width:150px;
    border-right: 1px solid #c4c2cc;
    padding: 12px 16px 12px 16px;
  }
  .notice .date-mn {
    
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #081c3b;
  }
  .notice .time {
    font-size: 14px;
    font-weight: 400;   
    text-align: left;
    color: #081c3b;
  }
  .notice .i:hover{
    transform:scale(1.1);
    color:#081c3b;
    cursor: pointer;
  }
  .notice .eye-dwn button {
    border: none;
    background-color: inherit;
    color: #878e99;
  }
  .notice .eye-dwn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    margin-right:10px;
  }
  .notice .title {
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    font-weight: 500;
    color: #081c3b;
  }
 .title-eye-dwn{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:15px 5px;

 }
  .notice {
    display: flex;
    justify-content:start;
    align-items: center;
    background: #f6faff;
    border-radius: 8px;
    width:100%;
  }
  
  .notice-container {
      display: flex;
      justify-content: start;
      flex-direction: column;
      align-items: start;
      width:100%;
      gap: 10px;
    }
    
