* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    border: border-box;
  }
  .nav-home {
    padding: 5px;
  }
  .nav-home:hover {
    transform: scale(1.01);
  }
  
  .nav-login {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 5px;
    background-color: inherit;
    width: 100px;
    font-family: inherit;
    margin: 0;
  }
  .nav-login .i{
    padding :10px;
  }
  .nav-bar .nav-right .login-sub-menu a{
    font-family: Montserrat;
    display:block;
    text-decoration: none;
    width:100px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    color: #081C3B;
    padding: 2px;
    margin: 10px 0;
  }
  
  .nav-bar .nav-right .login-sub-menu a:hover{
    transform: scale(1.01);
    background: #002F91;
    color:white;
  
  }
  .nav-bar .nav-right .login-sub-menu {
    position: absolute;
    width: 100px;
    line-height: 40px;
    background: #e3eefe;
    list-style: none;
    align-items: center;
    right:120px;
    padding: 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: none;
  }
  /* .nav-bar .nav-right .user:hover {
    background: #038cfc;
  } */
  .nav-bar .nav-right .user:hover .login-sub-menu {
    display: block;
  }
  
  .nav-right {
    display: flex;
    width: Hug (602px) px;
    height: Hug (48px) px;
    padding: 5px;
    gap: 30px;
    margin-right: 132px;
  }
  .nav-bar a {
    text-decoration: none;
    color: white;
    gap: 5rem;
  }
  
  .nav-logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  .nav-left h1 {
    font-family: Montserrat;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    margin: auto;
  }
  
  .nav-left {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    margin-left: 132px;
  }
  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 83px;
    margin: auto;
    background: #174ca1;
    color: white;
  }
  