* {
    font-family: Montserrat;
}

.login-page h1{
    text-align: left;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 600;
    line-height: 43.2px;
    color: #081C3B;
}
.input-box input {
    width: 376px;
    height: 40px;
    padding: 8px 12px 8px 12px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #C4C2CC;
    margin:10px 0;
    font-size: 18px;
}
.input-box label{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #081C3B;

}

.password-toggle-icon {
    position: absolute;
    top: 63%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .password-toggle-icon i {
    font-size: 18px;
    line-height: 1;
    color:#878E99;
    transition: color 0.3s ease-in-out;
    margin-bottom: 20px;
  }
  
  .password-toggle-icon i:hover {
    color: #000;
  }

.input-box input::placeholder {
    color: #878E99;
    font-size:18px;
}

.login-page .forgot {
    color: #002F91;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}

.btn button {
    width: 403px;
    height: 60px;
    padding: 12px 20px 12px 20px;
    border-radius: 12px;
    border:none;
    background: #002F91;
    cursor: pointer;
    font-family: Montserrat;
    margin: 10px 0;
    font-size: var(--sds-typography-body-size-medium);
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.login-page a {
    text-decoration: none;
    font-weight: 500;
}

.login-page a:hover {
    text-decoration: underline;
    color: red;
    font-weight: 600;
}

.login-page .register {
    text-align: center;
}

.login-page {
    display:flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 376px;
    gap:10px;
    margin: 5rem auto 0;
    color: #081C3B;
}