<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hall Management System</title>
    <link rel="stylesheet" typt="text/css" href="../Public/style.css" />
    <link rel="stylesheet" typt="text/css" href="noticestyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="nav-bar">
            <div class="nav-left">
                <img class="nav-logo border" src="../Public/Logo_of_rajshahi_university.jpg" />
                <h1> Shaheed Ziaur Rahman Hall</h1>
            </div>
            <div class="nav-right">
                <a class="nav-home" href="../index.html">Home</a>
                <div class="user">
                    <button class="nav-login ">
                    <a href="#">Login</a>
                        <i class="fa-regular fa-user"></i>
                    </button> 
                    <ul class="login-sub-menu sub-menu">
                        <li><a href="../login/login.html">Student</a></li>
                        <li><a href="#">Officers</a></li>
                        <li><a href="#">Admin</a></li>
                    </ul>   
                </div>
            </div>
        </div>
    </header>

<!-- Option for Recent Event and Latest Notice -->

    <div class="option">
        <a href="../index.html">
            <button type="submit" class="recent-event-bnt">Recent Event</button>
        </a>
            <button class="notice-bnt">Latest Notice</button>
    </div>

<!--option content-->
    <div class="container">
        <div class="notice-board">
            <div class="notice-container">
                <h2>Latest Notices</h2>
                <div class="notice notice1 trans">
                    <div class="date">
                        <p class="date-mn">01 July 2024</p>
                        <p class="time">10:00 AM</p>
                    </div>
                    <div class="title-eye-dwn">
                        <div class="title">
                            <p>Calling for applications for new allotments.</p>
                        </div>
                        <div class="eye-dwn">
                            <button class="view" href="#"><i class="fa-regular fa-eye"></i></button>
                            <button class="download" href="#"><i class="fa-solid fa-download"></i></button>
                        </div>
                    </div>
                </div>
                <div class="notice notice2 trans">
                    <div class="date">
                        <p class="date-mn">01 July 2024</p>
                        <p class="time">10:00 AM</p>
                    </div>
                    <div class="title-eye-dwn">
                        <div class="title">
                            <p>Calling for applications for new allotments.</p>
                        </div>
                        <div class="eye-dwn">
                            <button class="view" href="#"><i class="fa-regular fa-eye"></i></button>
                            <button class="download" href="#"><i class="fa-solid fa-download"></i></button>
                        </div>
                    </div>
                    
                </div>
            </div>        
            <div class="contact">
                <h3>Contact Us</h3>
                <div class="contact-info">
                    <div class="provost">
                        <h4>Provost</h4>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>:Dr. Md. Shahidul Islam</td>
                                </tr>
                                <tr>
                                    <td>E-mail</td>
                                    <td>:shahidul21@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>Phone</td>
                                    <td>:01700000000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="office-staf">
                        <h4>Office-staf</h4>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>:Dr. Md. Shahidul Islam</td>
                                </tr>
                                <tr>
                                    <td>E-mail</td>
                                    <td>:shahidul21@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>Phone</td>
                                    <td>:01700000000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="app.js"></script>
</body>

</html>