.login-page #error{
    color: red;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    padding-bottom:5px;
}

.login-page h1{
    text-align: left;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 600;
    line-height: 43.2px;
    color: #081C3B;
}
.input-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-box input {
    width: 350px;
    height: 40px;
    padding: 8px 12px 8px 12px;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #C4C2CC;
    margin:10px 0;
    font-size: 18px;
}
.pass{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.pass #password{
    width: 100%;
    border-radius: 8px;
    font-size: 18px;
}
label{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #081C3B;

}


.forgot .i{
    width:10px;
  }
  

.input-box input::placeholder {
    color: #878E99;
    font-size:18px;
}

.login-page .forgot {
    color: #002F91;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}

.btn button {
    width:100%;
    height: 60px;
    padding: 12px 20px 12px 20px;
    border-radius: 12px;
    border:none;
    background: #002F91;
    cursor: pointer;
    font-family: Montserrat;
    margin: 10px 0;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
}

.login-page a {
    text-decoration: none;
    font-weight: 500;
}

.login-page a:hover {
    text-decoration: underline;
    color: red;
    font-weight: 600;
}

.login-page .register {
    text-align: center;
}

.login-page {
    display:flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 376px;
    gap:10px;
    margin: 5rem auto 0;
    color: #081C3B;
}
.registration p{
    text-align: center;
    margin-bottom: 40px;
}