.login-page #error{
    color: red;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}
.login-page h1{
    text-align: left;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 600;
    color: #081C3B;
}

.login-page .forgot {
    display: flex;
    align-items: center;
    color: #002F91;
    font-family: Montserrat;
    font-size: 12px;
    text-align: left;;
} 

.btn button {
    width: 100%;
    padding: 12px 20px 12px 20px;
    border-radius: 12px;
    border:none;
    background: #002F91;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
}

.login-page a {
    text-decoration: none;
    font-weight: 500;
}

.login-page a:hover {
    text-decoration: underline;
    color:#002F91;
    font-weight: 600;
}
form{
    display: flex;
    flex-direction: column;
    width:100%;
    gap:10px;
}
.login-page{
    margin-bottom:40px;
}