
.contact-info table td{
    font-size: 16px;
    font-family: Montserrat;
    padding-right:10px;
  }
  
  .contact h3 {
    margin: 10px 0;
  }
  .contact h4 {
    margin: 10px 0 2px 0;
  }
  .contact {
      margin-top: 20px;
      border: 1px solid #c4c2cc;
      padding: 24px;
      border-radius: 8px;
      width:345px;
    }
  .container .trans:hover {
    transform: scale(1.01);
  }
