.allotment-complain button{
background:#002F9D;
height: 40px;
color: white;
font-family: Montserrat;
padding: 12px 36px 12px 36px;
margin-left:10px;
border: none;
border-radius: 12px;
font-weight: 600;
font-size: 16px;
}
.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 132px;
  }
  .option .toggle button {
    background-color: inherit;
    border-style: none;
    font-family: Montserrat;
    margin-right:10px;
    font-size: 20px;
    font-weight: 100px;
    text-align: left;
    color: #878e99;
    text-decoration: none;
  }
  
.option .toggle button:hover {
    color: #081c3b;
    transform: scale(1.1);
  }
  .allote-complain button:hover{
    transform: scale(1.1);
    }

.home-container{
      display: flex;
      justify-content:space-between;
      align-items:start;
      margin: 50px 132px;
      gap: 10px;
    }
.trans:hover{
  transform: scale(1.01);
}